.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin: 10px 5px;
    padding: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    border-radius: 5px;
    font-family: "Permanent Marker", cursive;
}

.card-action{
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: #4c4c4c;
}

.icons{
  display: flex;
}

.btn-icon{
  color: #5c5b5b;
  margin-left: 3px;
}

.btn-edit:hover{
  color: #3f7a57;
}

.btn-delete:hover{
  color: #6b2d2d;
}

.card-color-1 {
  background-color: #ead3a7;
}

.card-color-2 {
  background-color: #9de0f5;
}

.card-color-3 {
  background-color: #ef89ba;
}

.card-color-4 {
  background-color: #fae890;
}

.card-color-5 {
  background-color: #abe9c1;
}
